.dropdown-toggle{
    margin-top: 7px;
    background-color: #afa1a1;
}

.text-alignment{
    background-color: #fff;
    color: #636b6f;
    font-family:'Raleway', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-size:xx-large;
    padding-top: 200px;

}
footer{
    background-color: #222222;
    border-color: #080808;
    color:#fff;
    height: 50px;
}
footer .footer-copyright{
    padding-top: 18px;
}
.links{
    text-align: center;
}
.error{
    color: #a94442 !important;
    border-color: #a94442 !important;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}
.go_home {
    margin-left: 37%;
    margin-top: 20px;
    margin-bottom: 25%;
}